// VAR COLORS

$button-color: #f53c32;

// VAR FONTS

$first-font: "Staatliches", cursive;
$second-font: "Source Sans Pro", sans-serif;
$third-font: "Open Sans", sans-serif;

h1 {
  font-family: $first-font;
  font-weight: 500;
  font-size: 2.5rem;
}

p {
  font-family: $second-font;
}

h3 {
  font-family: $third-font;
  font-weight: bold;
}

button {
  margin-top: 0.5rem;
  color: white;
  background-color: $button-color;
  border-style: none;
  height: 3rem;
  width: 6rem;
  border-radius: 0.5rem;
  font-family: $second-font;
  transition: 1s;
}

button:hover {
  transition: ease-out;
  background-color: #000000;
  color: white;
  opacity: 1;
}

*,
html,
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  width: 100%;
  background-image: url(/images/upside-down.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

main {
  min-height: 90vh;
  background-image: url(/images/main-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right;
}

.section-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.section-1 {
    width: 50%;
    flex-grow: 1;
    margin-top: 6rem;
}

.splide {

    .img-cont {
        width: 60%;
        margin: auto;

        img {
            width: 100%;
            max-width: 500px;
            height: auto;
        }
    }

    .desc {
        width: 60%;
        margin: auto;

        .headbtn {
            display: flex;

            h1 {
                flex: 0 1 80%;
            }

            button {
                flex: 0 1 20%;
            }
        }

        p {
          padding-top: 0.5rem;
        }
    }
}

.splide__pagination {
    display: none;
}

.splide__arrow--next {
    right: 10rem;
}

.splide__arrow--prev {
    left: 10rem
}


@media all and (max-width: 620px) {

    .img-cont {
        min-width: 100%;
        padding: 1rem;
    }
    
    .desc {
        min-width: 100%;
        padding: 1rem;
    }

    .splide__arrow--next {
        display: none;
    }

    .splide__arrow--prev {
        display: none;
    }
}

.section-2 {
  margin-top: 6rem;
  flex: 0 1 40%;  
}

footer {
  min-height: 10vh;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  background-color: black;
  color: white;
  border-radius: 2rem 2rem 0 0;
}

.f-1 {
  text-align: center;
  flex-basis: 25%;
  flex-grow: 1;
}

.f-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  flex-grow: 1;
}

.f-2 p {
  font-family: $first-font;
  font-size: 2rem;
  font-weight: 500;
}

.f-3 {
  flex-basis: 25%;
  text-align: center;
  flex-grow: 1;
}

a {
  color: $button-color;
  font-family: $third-font;
  text-decoration: none;
  transition: 1s;
}

a:hover {
  color: white;
}

form {
  background-color: rgba(0, 0, 0, 0.973);
  color: white;
  padding: 5rem;
  margin: 2rem;
  border-radius: 0.5rem;
}

.icofont-twitter {
  color: white;
}

.sign-up {
  margin-top: 0.5rem;
  color: white;
  background-color: $button-color;
  border-style: none;
  height: 3rem;
  width: 6rem;
  border-radius: 0.5rem;
  font-family: $second-font;
  transition: 1s;
}

.sign-up:hover {
  transition: ease-out;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  opacity: 1;
}

input {
  height: 3rem;
  width: 15rem;
}

.icons {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 1rem;
}
